/* 全局生效的文本选择样式 */
::selection {
  background: rgba(093, 116, 162, 0.8); 
  color: white;         /* 深灰文字 */
}
::-moz-selection { /* Firefox兼容 */
  background: rgba(093, 116, 162, 0.8);
  color: white;
}

/* Resetting some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 确保页面至少占满整个视口高度 */
}


main {
  margin-top: 8vh; /* 使内容不会被导航栏遮挡，值应与 header 高度匹配 */
  height: 92vh;
  overflow-y: auto; 
}

.page-section {
  padding: 20px;
  flex: 1; /* 占据剩余的空间 */
  overflow-y: auto; 
}
/* 滚动条整体宽度 */
main::-webkit-scrollbar {
  width: 10px; /* 宽度 */
}

/* 滚动条的轨道背景 */
main::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道背景颜色 */
  border-radius: 10px; /* 轨道圆角 */
}

/* 滚动条的滑块（可拖动部分） */
main::-webkit-scrollbar-thumb {
  background: rgba(093, 116, 162, 0.8); /* 滑块颜色 */
  border-radius: 10px; /* 滑块圆角 */
}

/* 滑块悬停时的样式 */
main::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时的颜色 */
}

.NowPage{
    background: rgba(255, 255, 255, 0.3);
}


.studys{
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中（如果需要） */
  flex-direction: row; /* 子元素垂直排列 */
}
 /* ----------------------------------------------------------- */
 /* 竖屏响应*/
@media (orientation: portrait) {

}