
.main-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.information-container {
 /* display: flex;*/
  /*flex-direction: column; /* 子元素纵向排列 */
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  flex:1;
  
}
.sc-cluster-content {

}
.umap-contain{
    height: 80vh;
}
.title-bar {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center; /* 子元素水平居中 */
}

.title-bar-header {
  background-color: rgba(93, 116, 162,0.9); /* 标题栏背景颜色 */
  padding: 10px;
  border-radius: 25px 25px 25px 25px; /* 圆角 */
  color: #FFFFFF; /* 文字颜色 */
  text-align: center; /* 文字居中 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 盒子阴影 */
  margin-bottom: 20px; /* 与内容区域间隔 */
  width: auto; 
}

.title-bar-header h1 {
  margin: 0 50px; /* 移除默认的外边距 */
  font-size: 24px; /* 标题字号 */
  font-weight: normal; /* 字体权重 */
  color: white; /* 文字颜色 */
}
.bold-black {
  color: black;
}
.information-content {
  display: flex;
  justify-content: space-between; /* 子元素水平排列 */
  flex-grow: 1; /* 内容区域填充剩余空间 */
}

.information-left, .information-right {
  flex: 1;
  margin: 0 10px;
  
}
.information-first, .information-second {
  margin: 0; /* 去除原本的左右间距 */
}

/* 添加一些样式以改善布局和可读性 */
.information-left h1, .information-right h2 {
  color: #333;
  margin-bottom: 0.5em;
}

.information-left p, .information-right p {
  font-size: 16px;
  color: #666;
  margin-bottom: 0.5em;
}

.information-left a, .information-right a {
  color: #007BFF;
  text-decoration: none;
}

.information-left a:hover, .information-right a:hover {
  text-decoration: underline;
}
.search-gene-input {
  max-width: 300px; /* 最大宽度 */
  width: 100%; /* 宽度占满容器 */
  min-height: 40px; 
  padding: 10px; /* 内边距 */
  border: 2px solid #ccc; /* 边框颜色和粗细 */
  border-radius: 5px; /* 圆角 */
  background-color: #fff; /* 背景颜色 */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* 内阴影 */
  font-size: 16px; /* 字体大小 */
  color: #333; /* 字体颜色 */
  transition: border-color 0.3s, box-shadow 0.3s; /* 平滑过渡效果 */
  outline: none; /* 去掉聚焦时的轮廓 */
  box-sizing: border-box; /* 边框和内边距包含在宽度内 */
  
}

.search-gene-input:focus {
  border-color: rgb(93, 116, 162); /* 聚焦时的边框颜色 */
  box-shadow: 0 0 0 3px rgba(93, 116, 162,0.25); /* 聚焦时的外阴影 */
}

.search-gene-input::placeholder {
  color: #999; /* 占位符颜色 */
  font-style: italic; /* 占位符字体样式 */
}
.gene-search-con{
  display: flex;
  justify-content:  flex-start;
  align-items: center; /* 子元素在垂直方向上居中 */
  gap: 15px;
  position: relative;
}
.custom-textfield {
  min-height: 36px; /* 可以根据需要调整高度 */
  min-width: 50px; /* 可以根据需要调整高度 */
  display: block;
}
.scroller-wrapper {
  position: absolute;
  top: 105%;
  left: 0;
  width: 200px;
  height: 400px;
  overflow: auto;
  z-index: 1000;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px; /* 圆角更柔和 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.5); /* 半透明白色背景 */
  backdrop-filter: blur(5px); /* 添加毛玻璃效果，模糊半径为 5px */
  -webkit-backdrop-filter: blur(5px); /* Safari 支持 */
  transform: translateZ(0);
}
.scroller{
}

.gene-item {
  height: 50px;
  line-height: 50px;
  padding: 0 12px;
  border-bottom: 1px solid #eee;
}
.gene-item.is-active {
  background-color: #f0f8ff;
}
.search-btn {
  right: 8px;
  padding: 10px 20px; /* 调整按钮内边距 */
  border: none;
  border-radius: 5px; /* 圆角 */
  cursor: pointer;
  background-color: #5d74a2; /* 现代的蓝色 */
  color: white; /* 文字颜色 */
  font-family: 'Arial', sans-serif; /* 字体 */
  font-size: 16px; /* 字体大小 */
  text-transform: uppercase; /* 全部大写 */
  transition: background-color 0.3s, transform 0.3s; /* 平滑背景色和变形变化 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 阴影 */
  outline: none; /* 去掉点击时的轮廓 */
}

.search-btn:hover {
  background-color: #4a5e83; /* 悬停时的背景色 */
  transform: translateY(-2px); /* 轻微上移，增加点击感 */
}

.search-btn:active {
  background-color: #3c4f76; /* 点击时的背景色 */
  transform: translateY(0); /* 恢复原位 */
}
.custom-plus {
  font-size: 24px; /* 您可以根据需要调整这个值 */
  padding: 5px 10px; /* 内边距 */
  border-radius: 5px; /* 圆角 */
  border: none; /* 无边框 */
  background-color: transparent; /* 无背景 */
  color: black; /* 文字颜色 */
  cursor: pointer; /* 鼠标悬停时的光标样式 */
  transition: background-color 0.3s, transform 0.1s; /* 平滑过渡效果 */
  outline: none; /* 去掉点击时的轮廓 */
}

.custom-plus:hover {
  transform: scale(1.2); /* 轻微放大 */
}

.custom-plus:active {
  transform: scale(1); /* 恢复原大小 */
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}


.marker-size-controller {
  display: flex;
  align-items: center;
  padding: 4px; /* 减小内边距 */
  width: 300px; /* 根据需要调整宽度 */
  height: 30px;
}

.label {
  margin-right: 4px; /* 减小标签与数字之间的间距 */
  font-size: 14px; /* 减小字体大小 */
}

.size-value {
  margin: 0 4px; /* 减小文字与按钮之间的间距 */
  font-size: 14px; /* 减小字体大小 */
  font-weight: bold; /* 粗体字 */
}

/* Vuetify图标按钮的样式调整 */
.marker-size-controller .v-btn {
  background-color: transparent; /* 根据需要调整按钮背景色 */
  height: 30px; /* 调整按钮高度 */
  width: 30px; /* 调整按钮宽度 */
}

.marker-size-controller .v-btn svg {
  width: 18px; /* 调整图标大小 */
  height: 18px;
}





 /* ----------------------------------------------------------- */
 /* 差异表达分析 */
 
.sc-deg-content {
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中（如果需要） */
  flex-direction: column; /* 子元素垂直排列 */
}

.information-deg-first,
.information-deg-second {
    
  display: flex;
  justify-content: center; /* 水平居中 */
  margin: 0; /* 去除原本的左右间距 */
  margin-bottom: 10px;
}
.information-deg-second {
    flex-direction: column;
}

.de-analysis {
  width: 40vw;
  height: 65vh;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  overflow: auto;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.kegg-expand-button {
  height: 3vh;
  width: calc(80vw + 60px);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px; /* 仅保留上方的圆角 */
  background-color: #ffffff;
  cursor: pointer; /* 鼠标悬停时显示为手型 */
  text-align: center; /* 文本居中 */
  line-height: 1.5; /* 调整行高以垂直居中文本 */
  overflow: hidden; /* 隐藏溢出内容 */
  user-select: none; /* 禁止文本选择 */
  transition: background-color 0.3s, border-color 0.3s; /* 添加过渡效果 */
  box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, 0.1); /* 在上方添加阴影 */
}
.kegg-expand-button:hover {
  background-color: #e0e0e0; /* 鼠标悬停时的背景色 */
  border-color: #aaa; /* 鼠标悬停时的边框色 */
}
.enrichment-button-expanded{
  border-radius: 20px 20px 0 0; /* 仅保留上方的圆角 */
  border-bottom: none; /* 移除下边框 */
}

.kegg-analysis {
  width: calc(80vw + 60px);
  height: 80vh;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none; /* 移除上边框 */
  border-radius: 0 0 20px 20px;
  background-color: #f9f9f9;
  overflow: auto;
  box-shadow: 0px 8px 5px 5px rgba(0, 0, 0, 0.1); /* 在下方添加阴影 */
}

.note {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}


.group, .cell-type, .log2fc, .adjusted-pvalue, .de-direction {
  margin-bottom: 15px;
  
}



.custom-select {
  width: 60%;
  padding: 10px; /* 内边距 */
  border: 2px solid #ccc; /* 边框颜色和粗细 */
  border-radius: 5px; /* 圆角 */
  background-color: #fff; /* 背景颜色 */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* 内阴影 */
  font-size: 16px; /* 字体大小 */
  color: #333; /* 字体颜色 */
  transition: border-color 0.3s, box-shadow 0.3s; /* 平滑过渡效果 */
  outline: none; /* 去掉聚焦时的轮廓 */
  box-sizing: border-box; /* 边框和内边距包含在宽度内 */
  appearance: none; /* 去除默认样式 */
  -webkit-appearance: none; /* 去除 WebKit 浏览器默认样式 */
  -moz-appearance: none; /* 去除 Firefox 默认样式 */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* 添加自定义箭头 */
  background-repeat: no-repeat; /* 不重复背景图像 */
  background-position: right 10px center; /* 箭头位置 */
  cursor: pointer; /* 鼠标悬停时的光标样式 */
}

.custom-select:focus {
  border-color: #007bff; /* 聚焦时的边框颜色 */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* 聚焦时的外阴影 */
}

.custom-select::-ms-expand {
  display: none; /* 隐藏 IE 浏览器的默认箭头 */
}
/* 👇 强制显示 tooltip（参考 Element Plus 的 tooltip 样式） */
.always-show-tooltip {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(-10px);
  pointer-events: none;
}
/* 示例：紫色背景、白色字体、圆角、阴影、美化箭头 */
.custom-tooltip {
  position: relative;
  background-color: rgb(93, 116, 162) !important;
  color: white !important;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* 添加水滴下方的尖角 */
.custom-tooltip::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px; /* 尖角高度 */
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgb(93, 116, 162);  /* 与背景色一致 */
}



.DEdirection {
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.radio-group {
  display: flex;
  gap: 10px; /* 调整单选按钮之间的间距 */
}

.radio-label {
  position: relative;
  padding-left: 30px; /* 留出空间放置圆圈 */
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.radio-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.radio-label::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(93, 116, 162); /* iOS 蓝色 */
  transition: transform 0.3s, background-color 0.3s;
}

input[type="radio"]:checked + .radio-label::after {
  transform: translateY(-50%) scale(1);
}

input[type="radio"]:focus + .radio-label::before {
  border-color: rgb(93, 116, 162); /* iOS 蓝色 */
}
/* 隐藏默认的单选按钮 */
input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}


.page{
  padding: 4px 8px; /* 内边距 */
  border: none; /* 无边框 */
  border-radius: 4px; /* 圆角 */
  background-color: rgb(93, 116, 162); /* 背景颜色 */
  color: white; /* 文字颜色 */
  font-size: 14px; /* 字体大小 */
  cursor: pointer; /* 鼠标悬停时的光标样式 */
  transition: background-color 0.3s, transform 0.1s; /* 平滑过渡效果 */
  outline: none; /* 去掉聚焦时的轮廓 */
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: space-between; /* 分页按钮在左边，下载按钮在右边 */
  align-items: center; /* 垂直居中 */
}
.left-section {
  display: flex;
  align-items: center;
}
.downloadButton {
  padding: 4px 8px; /* 内边距 */
  border: none; /* 无边框 */
  border-radius: 4px; /* 圆角 */
  background-color: rgb(93, 116, 162); /* 背景颜色 */
  color: white; /* 文字颜色 */
  font-size: 14px; /* 字体大小 */
  cursor: pointer; /* 鼠标悬停时的光标样式 */
  transition: background-color 0.3s, transform 0.1s; /* 平滑过渡效果 */
  outline: none; /* 去掉聚焦时的轮廓 */
   float: right;
}
.geneModelButton{
  padding: 4px 8px; /* 内边距 */
  border: none; /* 无边框 */
  border-radius: 4px; /* 圆角 */
  background-color: rgb(93, 116, 162); /* 背景颜色 */
  color: white; /* 文字颜色 */
  font-size: 14px; /* 字体大小 */
  cursor: pointer; /* 鼠标悬停时的光标样式 */
  transition: background-color 0.3s, transform 0.1s; /* 平滑过渡效果 */
  outline: none; /* 去掉聚焦时的轮廓 */
}

.keggModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.keggModal-content {
  background-color: rgba(255, 255, 255, 0.6); /* 半透明白色背景 */
  backdrop-filter: blur(5px); /* 添加毛玻璃效果，模糊半径为 5px */
  -webkit-backdrop-filter: blur(5px); /* Safari 支持 */
  margin: 10vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35vw;
  height: auto;
  overflow-y: auto;
  border-radius: 20px; /* 圆角 */
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.de-direction, .de-direction-child{
  display: flex; /* 启用flexbox布局 */
  justify-content: flex-start; /* 子元素之间的间距 */
  align-items: center; /* 垂直居中对齐 */
  gap: 10px;
}

.modern-ui {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.note {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.select-style {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.slider {
  width: calc(100% - 70px);
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #007bff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.value-display {
  display: inline-block;
  width: 50px;
  text-align: right;
  font-size: 16px;
  color: #333;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-label {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}





 /* ----------------------------------------------------------- */
  /* 竖屏*/
 @media (orientation: portrait) or (max-width: 600px) {
    .information-content {
      display: flex;
      flex-direction: column; /* 子元素垂直排列 */
      justify-content: space-between; /* 子元素在主轴方向上分散对齐 */
      flex-grow: 1; /* 内容区域填充剩余空间 */
    }
    
}
