:root {
  --el-color-primary: rgb(93, 116, 162);
  --el-color-primary-light-3: rgba(93, 116, 162, 0.8);
  --el-color-primary-light-5: rgba(93, 116, 162, 0.5);
  --el-color-primary-light-7: rgba(93, 116, 162, 0.4);
  --el-color-primary-light-9: rgba(93, 116, 162, 0.25);
  --el-color-primary-dark-2: rgba(93, 116, 162, 0.9);
}
